<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuraFy - Find Your Aura!</title>
    
    <link rel="stylesheet" href="/static/css/home-page-style.css"> </head>
<body class="home-page"> <div class="home-container"> <h1 class="main-title">AuraFy</h1>
        <p class="tagline">Let's find your AURA 😄</p>

        <div class="center-button-wrapper"> <button id="startButton">Start</button>
        </div>

        <button class="exit-button" onclick="fadeOutAndNavigate('exit.html')">Exit</button>

    <script src="/static/js/script.js"></script>
</body>
</html>